body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

.btn-search-box{
    width: 60% !important;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.artist-container{
    float: left;
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.track-item{
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

.track-item svg{
    cursor: pointer;
    margin-right: 10px;
}

#tracklist-title{
	border: 0px;
	font-size: 1.5rem;
	font-weight: 600;
}

#tracklist-title:hover{
	z-index: 0;
}

audio{
    z-index: 1;
}

#player{
	background-color: #343a40;
	padding: 10px 10px 5px 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1;
	text-align: left;
}

#player-fix{
	width: 100%;
	height: 76px;
}

.hide-player{
	display: none;
}

.show-player{
	display: block;
}

.btn-search{
    margin-left: 5px;
    cursor: pointer;
    box-shadow: 2px 2px grey;
}

.song-name{
    font-size: 14px;
}

.play-icon{
    margin-right: 5px;
    cursor: pointer;
}

.star-icon{
    float: right;
    margin-top: 5px;
    cursor: pointer;
}

.star-icon:hover{
    font-weight: 800;
}

.star-icon-fav{
    font-weight: 800;
    margin-top: 5px;
    cursor: pointer;
    float: right;
}

.album-img{
    margin-bottom: 10px;
}

.home-view{
    margin-top: 20px;
}

.navbar{
    height: 40px;
}